@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/800.css";
@import "@fontsource/inter/900.css";

@theme {
  --font-family-sans: 'Inter', sans-serif;
  --color-navy: #36507D;
  --color-greige: #E0E0E0;
  --color-dark-navy: #132647
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #ededef;
  font-family: 'Inter', sans-serif;
}
.custom-dropdown-panel {
  background-color: #000;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"] {
  @apply border rounded-md py-2 px-3 border-[#e0e0e0] font-medium bg-neutral-50;
}

